/* Start Body */
/* Selector */
body {
    /* Property */
    background-color: white;
    color: #3f4c6b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body*/

/* Start Debug */
.bg-blue {
    background-color: rgb(25, 25, 44);
}

.bg-black {
  background-color: rgb(25, 25, 44);
  text-decoration-color: rgba(241, 224, 145, 0.822)
}

.bg-red {
    background-color: rgba(241, 224, 145, 0.822);
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}


.container-fullcopy {
  margin: 10px auto;
  overflow: auto;
  width: 100%;
  border-bottom: 1px solid #01070e;
  border-top: 1px solid #01070e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.container-selamatdatang {
  background-color: rgba(241, 224, 145, 0.822);
  margin: 10px;
  overflow: auto;
  width: 100%;
  text-align: center;
  text-decoration: #01070e;
  font-family: 'Courier New', Courier, monospace;
}

.container-baru {
  background-color: rgba(241, 224, 145, 0.822);
  margin: 10px auto;
  overflow: auto;
  width: 100%;
  text-decoration: #01070e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
}

/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgba(241, 224, 145, 0.822);
    border-radius: 10px;
    box-shadow: 
    0 3px 5px -1px rgb(25, 25, 44);
}

.menu-primer li {
border-right: 1px solid #3f4c6b;
display: inline-block;
}

.menu-primer a {
    color: #3f4c6b;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 27px;
    text-transform: uppercase
}

.menu-primer a:hover {
    background: #3f4c6b;
    color: rgba(241, 224, 145, 0.822);
    text-decoration: none;
}

.menu-primer .active {
    background-color: #3f4c6b;
    color: rgba(241, 224, 145, 0.822);
    text-decoration: none;
}
/* End Menu Primer */

/* Start Anchor / Hyperlink */
a:link
a:visited {
    color: #0366d6;
    text-decoration: none;
}
a:hover
a:active {
    color: #01070e;
    text-decoration: underline;
}
/* Start Anchor / Hyperlink */

/* Start Menu Sekunder*/
.menu-sekunder {
    background-color: rgba(241, 224, 145, 0.822);
    border-bottom: 1px solid #01070e;
    border-top: 1px solid #01070e;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h3 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder-one{
    float: left;
    width: 60%;
}
.menu-sekunder-two {
    float: left;
    width: 20%;
}

    /*logo sosmed biar di tengah*/
.menu-sekunder li img {
    vertical-align: middle;
    padding: 10px 0
}

.menu-sekunder li a {
    vertical-align: middle;
    padding: 10px 0
}
/* End Menu Sekunder*/

/* Mulai Javascript Gambar Lebar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);
.snip1573 {
  background-color: rgba(241, 224, 145, 0.822);
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 97.5%;
  min-width: 98.5%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 300%;
}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.snip1573:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.snip1573 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.snip1573 a {
  position: center;
  top: 0;
  bottom: 0;
  left: 30%;
  right: 30%;
  z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* Akhir Javascript Gambar Lebar */

/* Start Wow Effect Javascript */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800;);
.snip1541 {
  background-color: #fff;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 31%;
  min-width: 31%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.snip1541 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1541 img {
    vertical-align: top;
    max-width: 75%;
     backface-visibility: hidden;
}

.snip1541 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1em;
  opacity: 0;
  -webkit-transform: translateX(75%) rotate(180deg);
  transform: translateX(75%) rotate(180deg);
}

.snip1541 figcaption:before {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 50%;
  content: '';
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100px;
  z-index: -1;
}

.snip1541 h3 {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1541 h3 span {
  display: block;
  font-weight: 800;
}

.snip1541 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1541:hover > img,
.snip1541.hover > img {
  opacity: 0.1;
}

.snip1541:hover figcaption,
.snip1541.hover figcaption {
  -webkit-transform: translate(0px) rotate(0deg);
  transform: translate(0px) rotate(0deg);
  opacity: 1;
}
/* End Wow Effect Javascript */

/*katalog foto pake javascript*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1583 {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 15%;
  max-width: 30%;
  width: 50%;
  font-size: 16px;
  background-color: #fff;
  color: #111;
  line-height: 1.2em;
  text-align: center;
}

.snip1583 *,
.snip1583 *:before,
.snip1583 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1583 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1583 figcaption {
  padding: 10px;
}

.snip1583 h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 4px;
}

.snip1583 .price {
  margin: 8px 0;
  font-weight: 700;
  color: #336688;
  font-size: 1.5rem;
}

.snip1583 .icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.snip1583 .icons a {
  margin: 2px;
  opacity: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.snip1583 .icons a i {
  display: block;
  font-size: 23.52941176px;
  line-height: 40px;
  width: 40px;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
}

.snip1583 .icons a i:hover {
  background-color: #4da3e2;
  color: #ffffff;
  cursor: pointer;
}

.snip1583:hover a,
.snip1583.hover a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.snip1583:hover a:nth-child(2),
.snip1583.hover a:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.snip1583:hover a:nth-child(3),
.snip1583.hover a:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}